@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  color: #000;
}
a {
  color: #000;
  font-weight: 600;
}
ul {
  list-style: none;
}
p {
  margin: 5px 0;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
/* Text */
.primary-heading {
  font-size: 3.5rem;
  font-weight: 700;
  color: #333;
  color: #7b1fda;
  font-family: "Farro", sans-serif;
}
.sub-heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  font-family: "Farro", sans-serif;
}
.text-uppercase {
  text-transform: uppercase;
}
/* Navbar */
.navbar {
  width: 100%;
  height: auto;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  margin: 0 15px;
  font-weight: bold;
}
.navbar a {
  text-decoration: none;
  color: #333;
}
.navbar a:hover {
  color: #7b1fda;
}
.navbar-brand img {
  width: 100px;
  height: auto;
}
.navbar-nav-right li span {
  margin: 0 0 0 10px;
}
/* Menu item border bottom */
.navbar-nav-left li {
  position: relative;
  padding-bottom: 2px;
}
.navbar-nav-left li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.navbar-nav-left li a:hover::after {
  transform: scaleX(1);
}

/* Buttons */
.btn-primary {
  cursor: pointer;
  display: inline-block;
  background-color: #7b1fda;
  color: #fff;
  border: 1px #000 black;
  border-radius: 50px;
  padding: 15px 30px;
  margin: 40px 0;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  font-family: "Farro", sans-serif;
  font-weight: 500;
}
.btn-primary:hover {
  background-color: #7b1fda;
  color: #fff;
}
.btn-secondary {
  cursor: pointer;
  display: inline-block;
  background-color: #7b1fda;
  color: #fff !important;
  border: 1px #000 black;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 40px 0;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  font-family: "Farro", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
/* Hamburger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu*/
.mobile-menu {
  position: fixed;
  top: 85px;
  right: 0;
  background-color: #fff;
  width: 90%;
  height: 100%;
  color: #000;
  padding: 30px;
  transition: all 0.3s;
  box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
}
.mobile-menu img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.mobile-menu ul {
  line-height: 3;
  border-bottom: #777 solid 1px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
}
.mobile-menu a:hover {
  color: var(--color-primary);
}
.mobile-menu div {
  margin-top: 20px;
}
.mobile-menu div a {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.hidden {
  transform: translateX(100%);
}
.no-scroll {
  overflow: hidden;
}
/* Section A */
.section-a .section-inner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.section-a .section-inner .hero-content {
  margin: 40px 0;
}
/* Section B */
.section-b {
  padding: 40px 0;
  margin: 40px 0;
  background-color: #f4f4f4;
}
.section-b .sub-heading {
  padding: 48px 0;
}
.section-b p {
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 500;
}
.section-b .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.section-b .categories .cate-card {
  width: 100%;
  height: 100%;
}
.cate-card .d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-b .categories .dog {
  display: flex;
  justify-content: flex-end;
}
.section-b .categories .cat {
  display: flex;
  justify-content: flex-start;
}
.section-b .categories .cate-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #7b1fda;
  object-fit: cover;
}

/* Section C */
.section-c {
  padding: 40px 0;
}
.section-c .right-food-wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}
.section-c .right-food-wrapper img {
  max-width: 50%;
  width: 100%;
  height: auto;
}
.right-food-wrapper .sub-heading {
  font-size: 2.5rem;
  padding-bottom: 40px;
  text-align: left;
}
.right-food-wrapper .lead {
  font-size: 1.3rem;
}
.section-c .food-content {
  padding: 40px 40px;
}
/* Section D */

/* Section E */
.section-e {
  padding: 40px 0px;
}
.section-e .card {
  transition: transform 0.2s; /* Animation */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-e .card:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.section-e .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}
.section-e .card-container .card {
  width: 325px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card-container .card img {
  width: 100%;
  /* height: auto; */
  height: 250px;
  object-fit: fill;
}
.card-container .card-content {
  padding: 16px;
}
.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}
.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}

/* Section-F */
#contact {
  padding-bottom: 50px;
}
.contact {
  background-image: url("./img/h1_bg-shape-foot.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #157f64;
  color: #fff;
  padding: 40px 0;
}
.contact .d-flex {
  display: flex;
}
.contact .address {
  padding: 40px;
}
.contact h3 {
  font-size: 1.7rem;
}
.contact .d-flex p {
  font-size: 1.2rem;
}
/* Callback form */
.callback-form {
  margin: 0 auto;
  width: 80%;
  padding: 20px 50px;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: #28a745;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
}
/* Footer */
#footer {
  background-color: #333;
  color: #fff;
}
#footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
}
.footer-content .footer-nav ul {
  display: flex;
  gap: 40px;
}
.footer-content .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Media query */
@media (max-width: 768px) {
  .navbar .navbar-nav-left,
  .navbar .navbar-nav-right {
    display: none;
  }
  .navbar-brand img {
    width: 60px;
    height: 60px;
  }
  .hamburger {
    display: block;
  }
  .section-a .section-inner {
    flex-direction: column;
  }
  .primary-heading {
    font-size: 3rem;
  }
  .sub-heading {
    font-size: 2rem;
  }
  .hero-content {
    margin: 30px 0;
  }

  .section-c .right-food-wrapper {
    flex-direction: column-reverse;
  }
  .section-c .right-food-wrapper img {
    max-width: 100%;
  }
  /* about page */
  .about {
    flex-direction: column;
  }
  .about .primary-heading {
    text-align: center;
  }
  .about .image {
    /* display: none; */
    height: 0;
    background-color: #fff !important;
  }
  .about .image img {
    margin: 0 !important;
  }
  .about .image {
    height: 100%;
    margin: 40px 0;
    background-color: none;
  }
  .about .details {
    padding: 0 40px !important;
    margin-right: 0px !important;
  }
  .mission .sub-heading {
    padding: 20px 0;
  }
  .our-promise {
    flex-direction: column;
  }
  .our-promise .image {
    padding-bottom: 20px;
  }
  .our-promise .details .sub-heading {
    padding-bottom: 20px;
  }
  /* Contact us */
  .contact-wrapper .row {
    flex-direction: column;
  }
  .contact-wrapper .row .info,
  .contact-wrapper .row .support-img {
    width: 100%;
  }
  .contact-wrapper .row .info {
    margin-bottom: 40px;
  }
}

@media (max-width: 520px) {
  .primary-heading {
    font-size: 2.8rem;
  }
  .right-food-wrapper .sub-heading,
  .sub-heading {
    font-size: 1.8rem;
  }
  .footer-content {
    flex-direction: column;
  }
  .section-b .categories .cate-card img {
    width: 115px;
    height: 115px;
  }

  .section-c {
    padding-top: 0;
  }
  .section-c .food-content {
    padding-top: 0px;
  }
  .section-c .food-content .lead {
    font-size: 1.1rem;
  }
  .right-food-wrapper .sub-heading {
    padding-bottom: 20px;
  }
  .footer-content .footer-nav ul li a {
    font-size: 1rem;
    font-weight: 300;
  }
  /* about us */

  .contact .address {
    padding: 20px 40px;
  }
  .contact .d-flex {
    flex-direction: column;
  }
  .contact .d-flex h3 {
    font-size: 1.5rem;
  }
  .contact .d-flex p {
    font-size: 1rem;
  }
  .contact .callback-form {
    width: 100%;
  }
}
